<sui-modal [isClosable]="true" [size]="'small'" [isFullScreen]="false" [mustScroll]="true" (dismissed)="goToTeachingPack(); "
  #modal>
  <div *ngIf="!showTopicSelector && !showPadagogySelector" class="ui segment mt-10">
    <form class="ui form">
      <div class="content">
        <div *ngIf="formFieldProperties && categoryMasterList">
          <app-content-creation-default-template #formData [formFieldProperties]="formFieldProperties"
            [categoryMasterList]="categoryMasterList">
          </app-content-creation-default-template>
        </div>
        <div class="actions mt-10">
          <p class="text-align-center pt-20">
            <button class="ui primary text-align-center icon button" (click)="createContent()">
              {{resourceService?.frmelmnts?.btn?.startcreating}}
            </button>
          </p>

          <div>
            <label>
              <p class="text-align-center mt-10">
                {{resourceService?.frmelmnts?.lbl?.agreeandproceedtext}}
              </p>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-template [ngIf]="showPadagogySelector" #topicsSec>
    <div class="ui content margin-top-0">
      <div class="ui segment">
        <h6 class="ui horizontal divider">
          Select Pedagogy Flow
        </h6>
        <ng-template let-option #optionTemplate>
          <div class="margin-bottom-10">
            <b>{{ option.name }}</b>
          </div>
          <div class="ui horizontal bulleted list">
            <li class="item" *ngFor="let data of option.pedagogyStep">{{ data }}</li>
          </div>
        </ng-template>
        <sui-select class="selection fluid" [(ngModel)]="selectedFlow" [options]="padagogyList" labelField="name"
          [optionTemplate]="optionTemplate" [isSearchable]="true" #templated>
          <sui-select-option *ngFor="let o of templated.filteredOptions" [value]="o"></sui-select-option>
        </sui-select>
      </div>
    </div>
    <div class="actions">
      <button (click)="moveToTopicSelection()" class="ui primary button">
        Proceed
        <i class="right chevron icon"></i>
      </button>
    </div>
  </ng-template>
  <ng-template [ngIf]="showTopicSelector">
    <div class="ui content margin-top-0">
      <div class="ui segment">
        <h6 class="ui horizontal divider">
          Select Topic
        </h6>
        <div class="topic-selector">
          <tree-ngx [options]="treeOptions" (selectedItems)="selectedTopic = $event" [nodeItems]="topics">
            <ng-template #nodeCollapsibleTemplate let-expanded="expanded">
              <span *ngIf="expanded"><i class="minus square outline icon"></i></span>
              <span *ngIf="!expanded"><i class="plus square outline icon"></i></span>
            </ng-template>
          </tree-ngx>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="startCreating()" [disabled]="!selectedTopic?.length" class="ui primary button">
        Proceed
        <i class="right chevron icon"></i>
      </button>
    </div>
  </ng-template>
</sui-modal>
