.topic-selector {
  font-size: 15px;
}

.scrolling.content.topic-list-container {
  max-height: calc(45vh);
}

::ng-deep .node-name.markSelected {
  padding: 5px 7px 5px 7px;
  border-left: 3px #044f9d solid;
  color: #044f9d;
}
