<div>
  <div class="ui fixed main menu bs-0 main-header d-block">
    <div class="ui container primary-header p-10">
      <div role="banner" class="ui logo d-flex flex-ai-center">
        <a class="d-flex flex-ai-center">
          <img class="image centered cursor-pointer" alt="sunbird" src="assets/images/sunbird_logo.png">
        </a>
      </div>
      <div (click)="goToReviewSubmissions()" class="circular ui icon button">
        <i class="close icon"></i>
      </div>
    </div>
  </div>
  <div class="ui p-20">
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="ten wide stretched column" *ngIf="showLoader">
        <app-loader></app-loader>
      </div>
      <div *ngIf="!showLoader" class="ten wide stretched column">
        <div class="actions actions margin-top-15">
          <div (click)="publishContent()" class="ui primary right floated  button">
            Publish
          </div>
          <div (click)="rejectContent()" class="ui primary right floated  button">
            Reject
          </div>
        </div>
        <div class="ui segment">
          <div class="twelve wide column">
            <div class="ui header">{{lessonName}}</div>
            {{this.lessonDescription}}
          </div>
        </div>
        <sui-tabset>
          <div class="ui grid">
            <div class="three wide column">
              <div class="ui vertical menu left-steps-menu">
                <a class="item" *ngFor="let step of padagogySteps ; let ind = index" [isActive]="ind == 0"
                  [suiTabHeader]="step.name">
                  <div class="ui tiny header">{{step.name}}</div>
                  <div class="meta" *ngIf="step.info?.methodtype">{{step.info?.methodtype}}</div>
                </a>
              </div>
            </div>
            <div class="nine wide column">
              <div class="ui segment method-description" *ngFor="let step of padagogySteps" [suiTabContent]="step.name">
                <div class="ui comments" *ngIf="step.info?.identifier else noMethod">
                  <div class="comment">
                    <div class="content">
                      <label class="author">Duration : </label>
                      <div class="metadata">
                        <div class="date">{{step.duration}} Minutes</div>
                      </div>
                      <div class="text">
                        <div *ngIf="step.info?.description">
                          <label class="author">Description :</label>
                          <p class="text">{{step.info?.description}}</p>
                        </div>
                        <div *ngIf="step.body">
                          <label class="author">Long Description :</label>
                          <div class="text long-description" *ngIf="step.body" [innerHTML]="step.body"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui stacked segments" *ngIf="step.children?.length > 0">
                  <div class="ui segment">
                    <h2 class="ui small header">Resources</h2>
                  </div>
                  <div *ngFor="let resource of step.children" class="ui raised segment">
                    <div class="ui grid">
                      <div class="three wide column">
                        <img class="ui tiny image" [src]="resource.appIcon ? resource.appIcon : 'assets/images/default.png'">
                      </div>
                      <div class="nine wide column">
                        <h3 class="ui tiny header">{{resource.name}}
                        </h3>
                        <div class="content">
                          {{resource.description}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noMethod>
                  <div>
                    No Method added for this step
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

        </sui-tabset>
      </div>
      <div class="one wide column"></div>
    </div>
  </div>
</div>
